@model IEnumerable<BusinessAccessLayer.RentalModel>

@{
    ViewBag.Title = "Rental Equipment List";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-xs-10">
            <h3>Rental Equipment List</h3>
        </div>
        <div class="col-md-2 col-xs-2">
            <h4><a href="/Rental/Create" style="color:black;"><i class="fa fa-plus-circle fa-2x" aria-hidden="true" title="Rent Equipment" style="cursor:pointer;"></i></a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
            <div class="" style="background-color:#fff;padding:15px;border-radius:5px;border:1px solid #fff;">
                <h4 class="filterhead">Filters</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOnerent">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOnerent" aria-expanded="true" aria-controls="collapseOne">
                                    Type
                                </a>
                            </h4>

                        </div>
                        <div id="collapseOnerent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="cd-filter-content-rent cd-filters list" style="display: block;">
                                    <li>
                                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                                        <label class="checkbox-label" for="checkbox1">Buy</label>
                                    </li>

                                    <li>
                                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                                        <label class="checkbox-label" for="checkbox2">Rent</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Location
                                </a>
                            </h4>

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <input type="search" placeholder="Enter Your Location" class="form-control" />
                                <ul class="cd-filter-content cd-filters list" style="display: block;">
                                    <li>
                                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                                        <label class="checkbox-label" for="checkbox1">Hyderabad</label>
                                    </li>

                                    <li>
                                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                                        <label class="checkbox-label" for="checkbox2">Vijyawada</label>
                                    </li>

                                    <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Bangalore</label>
                                    </li>
                                    <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Chennai</label>
                                    </li>
                                    <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Delhi</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Categories
                                </a>
                            </h4>

                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <input type="search" placeholder="Enter Your Categories" class="form-control" />
                                <ul class="cd-filter-content cd-filters list" style="display: block;">
                                    <li>
                                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                                        <label class="checkbox-label" for="checkbox1">Asphalt Pavers (Chain)</label>
                                    </li>

                                    <li>
                                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                                        <label class="checkbox-label" for="checkbox2">Asphalt Pavers (Wheel)</label>
                                    </li>

                                    <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Auger Drillers</label>
                                    </li>
                                    <li>
                                        <input class="filter" data-filter=".check4" type="checkbox" id="checkbox4">
                                        <label class="checkbox-label" for="checkbox4">Backhoe Loader</label>
                                    </li>
                                    <li>
                                        <input class="filter" data-filter=".check5" type="checkbox" id="checkbox5">
                                        <label class="checkbox-label" for="checkbox5">Batching plants</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
            <div style="border:1px solid #d4d2d2;border-radius:10px;padding:10px;margin-bottom:20px;background:#fff;">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-2 hidden-xs">
                            @if (item.RentalType == "Rent")
                            {
                                <img src="~/Images/ToRent.png" height="120" width="120" alt="rent" />
                            }
                            else
                            {
                                <img src="~/Images/ToBuy.png" height="120" width="120" alt="buy" />
                            }
                        </div>
                        <div class="visible-xs">
                            <div class="row sfs10colrent">
                                <div class="col-xs-6">
                                    @if (item.RentalType == "Rent")
                                    {
                                        <p class=""><span class="label label-primary">Rent</span></p>
                                    }
                                    else
                                    {
                                        <p class=""><span class="label label-success">Buy</span></p>
                                    }
                                </div>
                                <div class="col-xs-6">
                                    <p class=""> <i class="fa fa-map-marker"></i>&nbsp;@Html.DisplayFor(modelItem => item.Location)</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h4>@Html.DisplayFor(modelItem => item.EquipmentType)</h4>
                            <p> <span style="color:gray;">From</span> &nbsp; @Html.DisplayFor(modelItem => item.FromDate) &nbsp; <span style="color:gray;">To</span> &nbsp;@Html.DisplayFor(modelItem => item.ToDate)</p>
                            <p> <span style="color:gray;">Contact</span> &nbsp;<i class="fa fa-phone"></i>&nbsp;@Html.DisplayFor(modelItem => item.ContactNumber)</p>
                            <p> <span style="color:gray;">Comments</span> &nbsp;@Html.DisplayFor(modelItem => item.Comments)</p>
                        </div>
                        <div class="col-md-2  hidden-xs">
                            @if (item.RentalType == "Rent")
                            {
                                <h4 class="sfscolrenthe"><span class="label label-primary">Rent</span></h4>
                            }
                            else
                            {
                                <h4 class="sfscolrenthe"><span class="label label-success">Buy</span></h4>
                            }
                        </div>
                        <div class="col-md-2  hidden-xs">
                            <p class="sfscolrenthe"> <i class="fa fa-map-marker"></i>&nbsp;@Html.DisplayFor(modelItem => item.Location)</p>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
   

</div>
