* {
    font-family: 'Ubuntu';
}

body {
    padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fafbfc !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
   */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.navbar-default {
    background-color: rgba(14,64,91,.9) !important;
    border-color: rgba(14,64,91,.9) !important;
}

    .navbar-default .navbar-brand {
        color: #ffffff !important;
        font-size: 20px;
        font-weight: 800;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff !important;
        font-weight: 400;
        font-size: 14px;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #013a9a !important;
            background-color: #fff !important;
        }

.shadowBorder {
    background: #fff;
    -webkit-box-shadow: 0px 5px 1px #ccc5c5;
    -moz-box-shadow: 0px 5px 1px #ccc5c5;
    box-shadow: 0px 5px 1px #ccc5c5;
    padding: 40px 13px 22px;
    height: 280px;
}

    .shadowBorder h4 {
        font-weight: 800;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 18px;
    }

.roundicon_congun {
    border: 1px solid #ddd;
    background: #fff;
    width: 50px;
    border-radius: 39px;
    height: 50px;
    font-size: 15px;
    color: #e000cd;
    margin-top: -28px;
    font-weight: 800;
    padding-top: 13px;
    box-shadow: 1px 1px 5px #f2f2f2;
}

.roundicon_congun_00 {
    margin-top: -25px;
}

.FeaturedBuyMargin {
    text-align: center;
}

.marginauto {
    margin: 0 auto;
}

.customimage_congun_12 {
    background: #fff;
    border: 10px solid #ddd;
    border-radius: 2px;
    padding: 15px;
}


.customimage_congun {
    background: #fff;
    border: 10px solid #ddd;
    border-radius: 2px;
    padding: 0px;
}

.customimage_congun_000 {
    background: #fff;
    border: 10px solid #ddd;
    border-radius: 2px;
}


.desc {
    background: rgba(12, 85, 120, 0.85);
    padding: 0px;
    position: relative;
    margin-top: -91px;
    height: 95px;
}

    .desc p {
        font-size: 25px;
    }

.help-tip {
    position: absolute;
    top: 9px;
    right: 54px;
    text-align: center;
    background-color: #060606;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 17px;
    cursor: default;
}

    .help-tip:before {
        content: '?';
        font-weight: bold;
        color: #fff;
    }

    .help-tip:hover p {
        display: block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
        z-index: 5;
    }

    .help-tip p { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

        .help-tip p:before { /* The pointer of the tooltip */
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: #1E2021;
            right: 10px;
            top: -12px;
        }

        .help-tip p:after { /* Prevents the tooltip from being hidden */
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
        }

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.clearfx_congun {
    margin-top: 15px;
    margin-bottom: 15px;
}


.contactus_congun {
    font-size: 20px;
}

.contactus_congun_image {
    display: inline;
}

.congun_image_feature {
    width: 100%;
    height: 200px;
}

.inputCongun_00 {
    display: inline;
    border-radius: 0px;
    width: 478px;
    height: 40px;
}

.inputCongun_01 {
    display: inline;
    margin-left: -4px;
    width: 155px;
    margin-right: -3px;
    border: none;
    border-radius: 0px;
    height: 55px;
    box-shadow: none;
    transition: none;
}

.inputCongun_02 {
    display: inline;
    border-radius: 0px;
    height: 40px;
    width: 157px;
    background-color: #3bc597;
    border-color: #3bc597;
    border: 1px solid #3bc597;
    font-size: 17px;
    margin-top: 0px;
    margin-left: -4px;
}

    .inputCongun_02:hover {
        background-color: #3bc597;
        border-color: #3bc597;
        border: 1px solid #3bc597;
    }

    .inputCongun_02:focus {
        background-color: #3bc597;
        border-color: #3bc597;
        border: 1px solid #3bc597;
    }

    .inputCongun_02:visited {
        background-color: #3bc597;
        border-color: #3bc597;
        border: 1px solid #3bc597;
    }


.Congun_branding_00 {
    margin-top: -192px;
    padding: 92px;
}



.Congun_Products_00 {
    padding: 17px 112px;
}

.margintop5 {
    margin-top: 5px;
}

.marginleft25minus {
    margin-left: -25px;
}

.colorfff {
    color: #fff;
}

.congun_Applynow {
    background: #ffce00;
    border-color: #ffce00;
    color: #01406a;
    font-size: 17px;
    font-weight: 600;
}

    .congun_Applynow:hover {
        background: #ffce00;
        border-color: #ffce00;
        color: #01406a;
    }

    .congun_Applynow:focus {
        background: #ffce00;
        border-color: #ffce00;
        color: #01406a;
    }

    .congun_Applynow:visited {
        background: #ffce00;
        border-color: #ffce00;
        color: #01406a;
    }


.viewall_congun {
    width: 48px;
}

.margintop20 {
    margin-top: 20px;
}


.congun_posting_for_rent_00 {
    padding: 14px;
    background-color: #470ca7;
    color: #fff;
}

.congun_posting_for_rent_001 {
    padding: 14px;
    background-color: #470ca7;
    color: #fff;
    border-bottom-right-radius: 15px;
}



.congun_posting_for_rent_01 {
    padding: 14px;
    background-color: #4a086e;
    color: #fff;
    font-weight: 800;
}

.congun_posting_for_rent_02 {
    margin-top: 24px;
}

.congun_posting_for_rent_03 {
    padding: 14px;
    background-color: #4a086e;
    color: #fff;
    padding-top: 22px;
    height: 65px;
    font-weight: 800;
}



.CustomDropDown {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.hero_congun_image {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/C772755.jpg");
    background-position: 33% -188px;
    padding: 10px;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-content {
    padding-top: 56px;
    height: 250px;
    text-align: center;
    /* max-width: 50%; */
    color: #ffffff;
}

    .hero-content h1 {
        font-size: 35px;
    }

    .hero-content .bottomright {
        border: 2px solid #d0cfd1;
        -moz-border-bottom-right-radius: 28px;
        -webkit-border-bottom-right-radius: 28px;
        border-bottom-right-radius: 28px;
        -moz-border-bottom-left-radius: 28px;
        -webkit-border-bottom-left-radius: 28px;
        border-bottom-left-radius: 28px;
        -moz-border-top-left-radius: 28px;
        -webkit-border-top-left-radius: 28px;
        border-top-left-radius: 28px;
        width: 260px;
        display: inline;
        color: #013a9a;
        padding: 5px;
        background: #d0cfd1;
    }

.congun_btn_00 {
    text-decoration: none;
    color: #013a9a;
    font-weight: 800;
    letter-spacing: 1.1px;
    font-size: 16px;
}

    .congun_btn_00:hover {
        text-decoration: none;
        color: #013a9a;
    }

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.conguTab {
    border-bottom: 0px;
}

    .conguTab li a {
        margin-right: -5px;
        line-height: 1.428571429;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 10px 41px !important;
        color: #fff;
        font-size: 16px;
    }

    .conguTab > li > a:hover {
        background: transparent;
    }

.nav-tabs > li {
    float: none !important;
    display: inline-block !important;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.sfs1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sfs2 {
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    border-radius: .375rem;
    transition: all .3s ease;
    border: 1px solid #ddd;
}

.sfs3 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 150px;
    margin: 0 auto;
}

.sfs4 {
    line-height: 2.25rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    font-size: 16px;
    color: #121212;
    font-weight: 800;
}

.sfs5 {
    border-bottom: 1px solid #ddd;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px;
}

.sfs6 {
    border-bottom: 1px solid #ddd;
    margin-right: 0px;
    margin-left: 0px;
    padding: 9px;
}

.sfs7 {
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 47px;
    line-height: 47px;
    background: #3bc597;
    color: #fff;
    border-radius: 0 0 5px 5px;
    text-transform: uppercase;
}

    .sfs7:hover {
        text-decoration: none;
        color: black;
    }
/*.sfs10 {
    margin-right: 0px;
    margin-left: 0px;
}*/

.sfs12 {
    height: 150px;
    margin: 0 auto;
    width: 100%;
}

.sfs15 {
    font-size: 31px;
}

.sfs16 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.rent_buy_congun {
    margin-top: -41px;
    background: green;
    margin-right: -32px;
    width: 89px;
    float: right;
    color: #fff;
    border: green;
    border-radius: 5px;
    line-height: 33px;
    height: 35px;
    text-align: center;
}

.congun_rental_table > tbody > tr > td {
    border-top: 0px solid #ddd;
}

.congun_rental_image {
    width: 75px;
}

.congun_rental_row {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px 0px 14px;
}

.congun_filter_rental {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 42px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

.gallery {
}

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 10px;
    }

    .gallery .desc, .gallery .full {
        width: 420px;
        font-size: 12px;
    }

        .gallery .desc h2 {
            margin-top: 0;
        }

    .gallery .previews a {
        display: block;
        margin-bottom: 10px;
    }

    .gallery .full, .gallery .full img {
        height: 500px;
        width: 420px;
    }

    .gallery .previews a, .gallery .full {
        border: 4px solid #eee;
    }

        .gallery .previews a:hover, .gallery .previews a.selected {
            border: 4px solid #777;
        }

        .gallery .full img:hover {
            cursor: pointer;
        }

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.fontcongunicon {
    font-size: 18px;
    margin-right: 5px;
}

.fontcongunname {
    font-size: 16px;
    font-weight: 400;
}

.table > tbody > tr > td {
    padding: 12px 0px 8px 0px;
}

ul .a-list-item {
    color: #111;
}

.a-ordered-list li, .a-unordered-list li, ol li, ul li {
    word-wrap: break-word;
    margin: 0;
}

.a-unordered-list, ul {
    margin: 0 0 18px 18px;
    color: #949494;
}

.commentlist li {
    margin-bottom: 20px;
    clear: both;
    position: relative;
    clear: both;
    list-style: none;
}

.comment-wrap {
    position: relative;
    border-bottom: 1px solid #E7E7E7;
}

.comment-avatar {
    float: left;
    margin: 0 10px 0 0;
}

.commentlist li img {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.comment-content {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    margin-left: 80px;
    min-height: 80px;
}

.author-comment {
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

    .author-comment cite {
        color: #3b3b3b;
        position: relative;
        display: block;
        margin-bottom: 2px;
        padding-top: 5px;
        font-style: normal;
        font-weight: bold;
        float: left;
    }

.commentmetadata {
    display: block;
    font-size: 85%;
    float: right;
    padding-top: 5px;
}

.clear {
    clear: both;
}

.comment-content p {
    line-height: 17px;
    margin-bottom: 10px;
}

#respondcomment {
    margin-bottom: 10px;
    position: relative;
    clear: both;
    border: 1px solid #ddd;
    padding: 22px;
    border-radius: 8px;
}

#respond:before {
    height: 1px;
}

#respond h3 {
    float: left;
    margin-right: 10px;
    font-size: 22px;
    font-family: "raleway", serif;
}

.exampleInputUsername {
    font-size: 18px;
    font-weight: 500;
    font-family: "raleway", serif;
    color: #000;
}

.scrolldoownbtn {
    background: #ffd740;
    border-color: #ffd740;
    color: #fff;
    font-size: 18px;
}

    .scrolldoownbtn:hover, .scrolldoownbtn:active, .scrolldoownbtn:focus, .scrolldoownbtn:visited {
        background: #ffd740;
        border-color: #ffd740;
        color: #fff;
    }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #013a9a;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.fontsharecolor {
    color: #fff !important;
    margin-right: 5px;
    font-size: 15px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.congun_footer_color {
    background: #000 url(/images/pattern.png);
    color: #fff;
    padding: 30px;
}

.congun_ul_h4 {
    padding-bottom: 22px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: ubuntu;
    font-weight: bold;
}

.congun_ul {
    padding: 0px;
}

    .congun_ul li {
        list-style: none;
    }

        .congun_ul li a {
            letter-spacing: .07rem;
            transition: all 0.25s ease-out;
            color: rgba(255, 255, 255, 0.71);
            display: block;
            padding: 0 0 7px;
            font-size: 14px;
            font-weight: 400;
        }

            .congun_ul li a:hover {
                text-decoration: none;
            }

.congun_ul_li_p {
    color: rgba(255, 255, 255, 0.71);
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
    }

.test {
    margin-top: 23px;
}

    .test a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-family: fontawesome;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        padding-top: 12px;
        margin: 0 2px;
        transition: all .5s;
    }

.fontsize12em {
    font-size: 1.2em !important;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.shadowBorderBottomRight {
    -webkit-box-shadow: 5px 8px 0px #ccc5c5;
    -moz-box-shadow: 5px 8px 0px #ccc5c5;
    box-shadow: 5px 8px 0px #ccc5c5;
    padding: 5px;
}

.color:hover {
    background: indigo; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1fc8db, #c4f5f2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1fc8db, #c4f5f2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1fc8db, #c4f5f2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1fc8db, #c4f5f2); /* Standard syntax (must be last) */
    cursor: pointer;
}

.contactus_congun_image_mobile {
    width: 60px;
}

.customimage_congun img {
    width: 100%;
    height: 150px;
}

.customimage_congun_12 img {
    width: 100%;
    height: 300px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #013a9a;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #fff;
    }

.congun_btn_00_mobile {
    color: #013a9a;
}

#divComments .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.sfs17 {
    width: 107px;
}

.panel-title > a:before {
    font-family: FontAwesome;
    content: "\f077";
    padding-right: 5px;
}

.panel-title > a.collapsed:before {
    content: "\f078";
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
    text-decoration: none;
}

.panel-body {
    padding: 5px;
}

.filterhead {
    padding: 0px 0px 2px 2px;
    font-size: 19px;
    color: #f36d6d;
    margin-top: 0px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.cd-filter-content {
    margin: 11px 0px 7px -40px;
    height: 100px;
    overflow: auto;
}

    .cd-filter-content li {
        list-style: none;
    }

.cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em;
}

.cd-filter-block .checkbox-label::before, .cd-filter-block .radio-label::before {
    width: 16px;
    height: 16px;
    left: 0;
}

.sfs5col {
    padding-right: 8px;
    padding-left: 8px;
}

.sfscolleft {
    text-align: left;
}

.sfscolright {
    text-align: right;
}

.cd-filter-content-rent {
    margin: 11px 0px 7px -40px;
    height: 54px;
    overflow: auto;
}

    .cd-filter-content-rent li {
        list-style: none;
    }

.sfscolrenthe {
    margin-top: 55px;
}

.sfs10colrent {
    margin-right: 0px;
    margin-left: 0px;
}

.sfs1ocolind {
    padding-right: 0px;
    padding-left: 0px;
}

.congu_index_im {
    height: 250px !important;
}

.con_margin_bot {
    margin-bottom: 12px;
}

.congu_index_im2 {
    height: 193px !important;
}

.sfs100 {
    position: absolute;
    top: 230px;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgba(243, 109, 109, 0.68);
}

.sfs100_2 {
    position: absolute;
    top: 180px;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgba(243, 109, 109, 0.68);
}

.sfs101 {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    margin-top: 9px;
}

.sfs102 {
    background-color: #FFEB3B;
    border-color: #ffeb3b;
    width: 100px;
    font-size: 18px;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    .help-tip {
        right: 7px;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .footer-menu.wid-50-left {
        width: 42%;
        float: left;
    }

    .shadowBorder h4 {
        font-weight: 800;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 11px;
    }
}


@media only screen and (max-width: 900px) {
    .FeaturedBuyMargin {
        margin-top: 20px;
    }
}

@media only screen and (max-width:768px) {
    .help-tip {
        right: 76px;
    }

    h3, .h3 {
        font-size: 16px;
    }

    .fontcongunname {
        font-size: 12px;
        font-weight: 400;
    }

    .sfs15 {
        font-size: 20px;
    }

    .gallery .full, .gallery .full img {
        height: 350px;
        width: 335px;
    }

    .Congun_Products_00 {
        padding: 17px 17px;
    }

    .hero_congun_image {
        height: 276px;
    }

    .inputCongun_00 {
        display: inline;
        border-radius: 0px;
        width: 357px;
        height: 40px;
    }

    .hero_congun_image {
        background-position: 100% 100%;
        background-attachment: inherit;
    }

    .hero-content h1 {
        font-size: 27px;
    }

    .conguTab li a {
        padding: 4px 41px !important;
    }

    .shadowBorder_mobile {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 2px;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 530px;
    }

    .BListContentPadding {
        padding-top: 15px;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 155px !important;
    }
}

@media only screen and (max-width:767px) {
    .rentFontHead {
        font-size: 18px;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 530px;
    }

    .sfs15 {
        font-size: 15px;
    }

    .sfs17 {
        width: 55px;
    }

    .gallery .full, .gallery .full img {
        height: 300px;
        width: 310px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width:425px) {
    .sfs100 {
        top: 130px;
    }

    .sfscolleft {
        text-align: center;
    }

    .sfs12 {
        height: 100px;
    }

    .sfs3 {
        height: 100px;
    }

    .sfscolright {
        text-align: center;
    }

    .help-tip {
        right: 19px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

    .sfs15 {
        font-size: 15px;
    }

    .sfs17 {
        width: 55px;
    }

    .gallery .full, .gallery .full img {
        height: 300px;
        width: 310px;
    }

    .congun_rent_h2 h2 {
        font-size: 25px;
    }

    .congun_cfs_col {
        margin-top: 15px;
    }

    .margintop20 {
        margin-top: 0px;
    }

    .hero_congun_image {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/C772755.jpg);
        /*background-position: 33% -188px;*/
        padding: 10px;
        background-attachment: fixed;
        width: 100%;
        height: 260px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .FeaturedBuyMargin h2 {
        font-size: 25px;
    }

    .congun_image_feature {
        width: 100%;
        height: 150px;
    }

    .customimage_congun img {
        width: 100%;
        height: 120px;
    }

    .hero-content h1 {
        font-size: 18px;
    }

    .inputCongun_00 {
        display: inline;
        border-radius: 0px;
        width: 200px;
        height: 40px;
    }

    .inputCongun_01 {
        display: inline;
        margin-left: -4px;
        width: 100px;
        margin-right: -3px;
        border: none;
        border-radius: 0px;
        height: 55px;
        box-shadow: none;
        transition: none;
    }

    .shadowBorder_mobile {
        background: #fff;
        -webkit-box-shadow: 0px 5px 1px #ccc5c5;
        -moz-box-shadow: 0px 5px 1px #ccc5c5;
        box-shadow: 0px 5px 1px #ccc5c5;
        /*padding: 15px;*/
        border: 1px solid #ddd;
        height: 170px;
    }

        .shadowBorder_mobile h4 {
            font-weight: 800;
            font-size: 10px;
            margin-top: 15px;
            margin-bottom: 18px;
        }

    .congun_btn_00 {
        text-decoration: none;
        color: #009dff;
        font-weight: 800;
        letter-spacing: 1.1px;
        font-size: 16px;
    }

    .contactus_congun_image_mobile {
        width: 42px;
    }

    .contactus_congun_image_h2_mobile {
        font-size: 15px;
    }

    .Congun_Products_00 {
        padding: 17px 17px;
    }

    .marginleft25minus {
        margin-left: 0px;
    }

    .clearfx_congun {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .conguTab li a {
        margin-right: -5px;
        line-height: 1.428571429;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 10px 41px !important;
        color: #fff;
        font-size: 12px;
    }

    .conguTab li a {
        padding: 2px 41px !important;
    }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width: 375px) {
    .sfs100 {
        top: 130px;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 278px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

    .sfs15 {
        font-size: 15px;
    }

    .sfs17 {
        width: 55px;
    }

    .gallery .full, .gallery .full img {
        height: 300px;
        width: 260px;
    }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .shadowBorder_mobile {
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 1px;
        border: 0px solid #ddd;
    }

    .shadowBorder_mobile {
        background: #fff;
        -webkit-box-shadow: 0px 5px 1px #ccc5c5;
        -moz-box-shadow: 0px 5px 1px #ccc5c5;
        box-shadow: 0px 5px 1px #ccc5c5;
        padding: 6px;
        border: 1px solid #ddd;
    }

    .FeaturedBuyMargin h2 {
        font-size: 23px;
    }

    .inputCongun_02 {
        margin-left: 1px;
        display: inline;
        border-radius: 0px;
        height: 40px;
        width: 170px;
        background-color: #3bc597;
        border-color: #3bc597;
        border: 1px solid #3bc597;
        font-size: 18px;
        margin-top: 0px;
        padding-top: 10px;
    }

    .inputCongun_00 {
        display: inline;
        border-radius: 0px;
        width: 100%;
        height: 40px;
    }

    .conguTab li a {
        margin-right: -5px;
        line-height: 1.428571429;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 10px 41px !important;
        color: #fff;
        font-size: 13px;
    }

    .conguTab li a {
        padding: 2px 41px !important;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width:412px) {
    .sfs100 {
        top: 130px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

        .gallery .full, .gallery .full img {
            height: 300px;
            width: 290px;
        }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .custom-combobox-input {
        width: 280px !important;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width:384px) {
    .sfs100 {
        top: 130px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

        .gallery .full, .gallery .full img {
            height: 300px;
            width: 270px;
        }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .custom-combobox-input {
        width: 235px !important;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width:375px) {
    .sfs100 {
        top: 130px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

        .gallery .full, .gallery .full img {
            height: 300px;
            width: 265px;
        }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .custom-combobox-input {
        width: 235px !important;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width:360px) {
    .sfs100 {
        top: 130px;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

        .gallery .full, .gallery .full img {
            height: 300px;
            width: 250px;
        }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .custom-combobox-input {
        width: 235px !important;
    }

    .consfs150 {
        margin-top: 350px;
    }
}

@media only screen and (max-width:320px) {
    .consfs150 {
        margin-top: 350px;
    }

    .sfs100 {
        top: 130px;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 235px !important;
    }

    .gallery .previews, .gallery .full, .gallery .desc {
        float: left;
        margin-right: 5px;
    }

    .sfs17 {
        width: 45px;
    }

    .sfs15 {
        font-size: 15px;
    }

    .gallery .full, .gallery .full img {
        height: 300px;
        width: 220px;
    }

    .customimage_congun_12 img {
        width: 100%;
        height: 200px;
    }

    .shadowBorder_mobile {
        background: #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 6px;
        border: 1px solid #ddd;
        font-size: 10px;
    }

    .inputCongun_00 {
        display: inline;
        border-radius: 0px;
        width: 265px;
        height: 40px;
    }

    .hero-content {
        padding-top: 21px;
    }

    .inputCongun_01 {
        display: none;
    }

    .conguTab li a {
        padding: 3px 41px !important;
    }

    .conguTab li a {
        font-size: 12px;
    }

    .inputCongun_02 {
        margin-left: 1px;
        display: inline;
        border-radius: 0px;
        height: 40px;
        width: 170px;
        background-color: #3bc597;
        border-color: #3bc597;
        border: 1px solid #3bc597;
        font-size: 18px;
        margin-top: 0px;
        padding-top: 10px;
    }

    .FeaturedBuyMargin h2 {
        font-size: 18px;
    }

    .congun_rent_h2 h2 {
        font-size: 18px;
    }

    .shadowBorder_mobile h4 {
        font-weight: 800;
        font-size: 6px;
        margin-top: 15px;
        margin-bottom: 18px;
    }

    .hero-content h1 {
        font-size: 14px;
    }
}


/*set a border on the images to prevent shifting*/
#gallery_01 img {
    border: 2px solid white;
}

/*Change the colour*/
.active img {
    border: 2px solid #333 !important;
}

.fa-plus-circle:hover {
    color: blueviolet;
}

div.ui-datepicker {
    font-size: 12px;
}

.dashboardRentalGrad {
    background: indigo; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(indigo, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(indigo, violet); /* Standard syntax (must be last) */
    color: white;
}

.shadowBorderDetail {
    background: #fff;
    -webkit-box-shadow: 0px 5px 1px #ccc5c5;
    -moz-box-shadow: 0px 5px 1px #ccc5c5;
    box-shadow: 0px 5px 1px #ccc5c5;
}

label {
    font-weight: normal;
}

.form-control {
    border-radius: 0px !important;
}

a#JqueryComboBoxArrow {
    border-radius: 0px;
}

input.custom-combobox-input.ui-widget.ui-widget-content.ui-state-default.ui-corner-left.ui-autocomplete-input {
    border-radius: 0px;
}

.form-horizontal .control-label {
    text-align: left;
}

.btn {
    border-radius: 0px;
}

.sfs7 div a {
    color: white !important;
}

    .sfs7 div a:hover {
        color: black !important;
        text-decoration: none;
    }
